[submodule "passport"]
	path = passport
	url = https://github.com/CherkashinAV/passport
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/CherkashinAV/api-gateway
[submodule "sender"]
	path = sender
	url = https://github.com/CherkashinAV/sender
[submodule "themes"]
	path = themes
	url = https://github.com/CherkashinAV/themes
